input:checked~.nav-btn-group {
    opacity: 1;
}

input:checked~.navbar-toggler .bar:nth-child(1) {
    transform: rotate(45deg);
}

input:checked~.navbar-toggler .bar:nth-child(2) {
    display: none;
}

input:checked~.navbar-toggler .bar:nth-child(3) {
    position: absolute;
    transform: rotate(-45deg);
}

.nav-btn-group {
    display: grid;
    grid-template-rows: 10% 10%;
    position: absolute;
    background: #ffffff;
    top: 100px;
    left: 0;
    opacity: 0;
    z-index: 1;
    height: 110%;
    transition: 0.6s;
}

.bar {
    transition: 0.4s;
}